body{background-color: black;
}
.p1 {text-align: center;
}
.p1{border-style: double;
border-color:rgb(0, 38, 255);
border-width: 5px;}

.p2 {text-align: center;
}
.p2{border-style: double;
    border-color:rgb(0, 38, 255);
    border-width: 5px;}
    










